label[for="user_avatar"]{
	padding-left: 30px;
}

label[for="user_email"], label[for="user_password"], label[for="user_password_confirmation"] {
	display: none;
}

input {
	height: 50px;
}

input[id="user_password"] {
	border-radius: 0px;
}

input[id="user_password"], input[id="user_password_confirmation"] {
	margin-top: -1px;
}

input[type="checkbox"]{
	height: 13px;
	margin-top: 30px;
}


h1 {
	color: white;
	font-size: 50pt !important;
}

.head {
	background-color: #093624;
	height: 180px;
	opacity: 0.5;
}

.header {
	color: white;

	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 160px;
	background-color: #093624;
	text-align: center;
	font-weight: bold;
}

.header h2 {
	color: white;
}

.page-wrapper {
	background-image: url('https://i.imgur.com/f6tfKph.jpg');
	background-size: cover;
	height: 100vh;
}

.form-wrapper {
	max-width: 400px;
	margin: auto;
}

.field {
	margin-top: -24px;
}

.upload-image {
	padding-top: 20px;
	text-align: center;
	/*border: 1px solid gray;*/
}

.form-wrapper a:hover {
	background-color: green;

}
